html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 5px;
	align-items: center;
	text-align: center;
}
/* P5 Sketch Canvases (applies) to all) */
canvas {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Options in index.html */
.options {
	display: inline-block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.option {
	float: left;
	padding: 50px;
}

.emoji {
	font-size: 75px;
	vertical-align: middle;
	padding-bottom: 15px;
	line-height: 2;
	clear: both;
	margin: auto;
}

.description {
	margin: auto;
	margin-top: -50px;

	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
	letter-spacing: 0.6px;
	word-spacing: 2px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
}

/* Removes default link decorations */
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

